.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherDisplay {
  background-color: #f2dbba;
  padding: 20px;
  border: 2px solid #b88448;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Georgia', serif;
}

.weatherCondition,
.weatherInfo {
  text-align: center;
}

